.Audioplayer img {
  height: 100px;
  overflow: visible;
  overflow-clip-margin: 20px !important;
}

.rhap_container {
  height: 140px;
  width: 40%;
  margin: 0 auto;
  padding: 0 20px 0 0;
  text-align: center;
}
.rhap_container,
.rhap_container:focus {
  outline: none;
  background-color: rgba(255, 0, 0, 0);
}
.rhap_download-progress {
  background-color: #eb4e2b7f;
}

.rhap_progress-filled {
  background-color: #eb4e2bf3;
}

.rhap_button-clear {
  overflow: visible;
}
.rhap_controls-section {
  align-items: start;
}

.rhap_container svg {
  color: #eb4d2b;
}

.rhap_container .rhap_progress-indicator {
  background: #e18080;
}
@media (max-width: 480px) {
  .rhap_container {
    height: 100px;
    width: 90%;
  }
  .Audioplayer img {
    height: 70px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .rhap_container {
    height: 110px;
    width: 80%;
    padding: 0 10px 0 0;
  }
  .Audioplayer img {
    height: 85px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .rhap_container {
    height: 125px;
    width: 60%;
  }
  .Audioplayer img {
    height: 90px;
  }
}
