:root {
  ---primeOne: #ee939e;
  ---primeTwo: #df7d88;
  ---primeDark: #d4616e;
  ---webOne: #f8bdc4;
  ---webTwo: #fff8ec;
  ---addOnOne: #b0d7ab;
  ---curlyFont: "Neonderthaw", cursive;
  /* font-family: 'Beth Ellen', cursive; */
  ---plainfont: "Caveat", cursive;
}
body {
  background-color: var(---webTwo);
  font-family: var(---plainfont);
  color: var(---addOnOne);
}
