.Resultbox {
  width: 70%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px #dbb3b78b;
  background-color: var(---webOne);
}
.Resultbox h3 {
  font-size: 40px;
  font-weight: 900;
  color: var(---primeDark);
}

.Resultbox p {
  line-height: 1.3;
  font-size: 20px;

  color: var(---primeDark);
}
